<head>
  <link href="https://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=10">
  <meta name="robots" content="index,nofollow">
  <meta name="description" content="minias's blog">
  <meta name="keywords" content="minias's blog">
  <meta name="apple-mobile-web-app-title" content="minias's blog">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="minias's blog"/>
  <meta name="twitter:url" content="https://gnuhacker.com/">
  <meta name="twitter:image" content="https://gnuhacker.com/images/minias.jpg">
  <meta name="twitter:description" content="minias's blog">
  <meta property="fb:app_id" content="1022634298982280"/>
  <meta property="og:title" content="minias's blog"/>
  <meta property="og:image" content="https://gnuhacker.com/images/minias.jpg"/>
  <meta property="og:image:secure_url" content="https://gnuhacker.com/images/minias.jpg" />
  <meta property="og:image:type" content="image/png" />
  <meta property="og:image:width" content="200"/>
  <meta property="og:image:height" content="200"/>
  <meta property="og:url" content="https://gnuhacker.com/">
  <meta property="og:description" content="minias's blog"/>
  <title>
    {% if page.title == "Home" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  {% if page.url and site.baseurl %}
  <link rel="canonical" href="{{ page.url | absolute_url }}">
  {% endif %}

  <link rel="stylesheet" href="{{ '/public/css/poole.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/syntax.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/lanyon.css' | absolute_url }}">
  <link rel="stylesheet" href="{{ '/public/css/custom.css' | absolute_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ '/public/apple-touch-icon-precomposed.png' | absolute_url }}">
  <link rel="shortcut icon" href="{{ '/public/favicon.ico' | absolute_url }}">

  <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ '/atom.xml' | absolute_url }}">

  {% include google_analytics.html %}
</head>
