<footer id="footerWrap">
    <div class="inner ">
        <div class="footer_logo">
            <img src="assets/img/footer_logo.svg" alt="TDI LOGO">
        </div>
        <ul class="detail_info list1">
            <li>주식회사 티디아이 </li>
            <li>서비스 이용약관 </li>
            <li>개인정보취급방침</li>
        </ul>
        <ul class="detail_info list1">
            <li>대표자 : 이승주 </li>
            <li>주소 : 서울특별시 서초구 반포대로20길 29 (서초동, TDI 타워) </li>
            <li>사업자 번호 : 615-85-36966 </li>
            <li>통신판매업신고 : 제 2012-부산해운-004 호 </li>
        </ul>
        <address>
            © TDI. All Rights Reserved.
        </address>
    </div>
</footer>
