---
layout: default
---

{% include tag_collector.html tag_separator=',' %}

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date"><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i>{{ post.date | date: "%F" }}</span>
  {{ content }}
</div>
<div>
  {{ tag_list }}
</div>
<script src="https://utteranc.es/client.js"
        repo="https://github.com/minias/minias.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
<div class="related">
  <h2>other post</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:5 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <!--<small>{{ post.date | date_to_string }}</small>-->
			      <small><i class="fas fa-fw fa-calendar-alt" aria-hidden="true"></i>{{ post.date | date: "%F" }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
